.header {
    height: 110vh;
    width: 100%;
    position: relative;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.4);
    background-color: var(--color-primary);
    overflow: hidden;
}

.about {
    height: 110vh;
    width: 100%;
    min-height: 80rem;
    position: relative;
    // display: flex;
    // -webkit-justify-content: center;
    // justify-content: center;
    // -webkit-align-items: center;
    // align-items: center;

    @media only screen and (max-width: $bp-small) {
        height: 120vh;
    }
}

.skills {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 110vh;

    @media only screen and (max-width: $bp-medium) {
        height: 134vh;
    }
}

.work {
    width: 100%;
}

.contact {
    height: 90vh;
    width: 100%;
    position: relative;
}
